.skeleton {
  animation: pulse 1.5s infinite;
}
.skeleton--rounded {
  border-radius: 0.5rem;
}
.skeleton--circular {
  border-radius: 50%;
}
.skeleton--rectangular {
  border-radius: 0;
}

@keyframes pulse {
  0% {
    background-color: rgba(var(--text-color-value), 0.1);
  }
  50% {
    background-color: rgba(var(--text-color-value), 0.2);
  }
  100% {
    background-color: rgba(var(--text-color-value), 0.1);
  }
}
