.card-transition {
  transition: transform 0.1s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.card-transition:hover {
  transform: translateY(-5px);
}

.app-main {
  margin: 1rem;
}

.app-footer {
  margin-top: auto;
  padding: 0.5rem;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
